/* 
.registeration-Box{gap: 100px; height: 100%;}
.register-left-section{
height: 100%;
} */
/* .register-left-section h1{font-size: 8vw; font-weight: 700;} */


/* .register-right-section{
    padding: 20px 15px;
    height: 100%;
}  */











