
.hero-left-section{
    /* background-color: orange; */

}
.hero-Box{   }
.hero-left-section h4{
  font-size: 8vmin;

}
.hero-left-section h1{
  font-size:18vmin ;
}
.hero-left-section h2{text-align: end;}
.hero-right-section{ 
    justify-content: flex-start;
  /* width: 50%; */
}
.hero-right-section img{
  margin-top: -10px;
width: 65%;
/* background-color: red; */
}