.contact-Container h1 {
  text-align: center;
}

.contact-left-section {
  /* width: 50%; */
  /* background-color: red; */
  /* justify-content: flex-end; */
}
.contact-left-section img {
  /* width: 72%; */
}
.contact-right-section {
    /* background-color: green; */
  /* width: 50%; */
  padding: 25px 15px;
  /* justify-content: flex-start; */
}

.ContactTextarea {
  background-color: transparent;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  padding: 10px 14px;
  border-radius: 12px;
  margin: 5px;
  outline: none;
  text-align: center;
  border: 1px solid grey;
  /* width: 280px; */
  /* width: 90vw; */
  height: 150px;
  margin: 8px 0;
}
