.navContainer{
    width: 100vw;
    padding: 0 35px;
    position: fixed;
    left: 0;
    top: 0px;
    height: max-content;
    background-color: transparent;
}
.navbarBox{
    width: 100%;
    justify-content: space-between;
   border-bottom: 2px solid white;
}
.navItems{
    padding:0px 10px;
}
.navItems {font-size: 1.2rem;}
.navItems span,h1{
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}


@media only screen and (max-width: 950px) {
   


  }