.project-card {
  width: max-content;
  height: max-content;
  padding: 12px 6px;
  /* background:red; */
  position: relative;
  display: grid;
  place-content: center;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.border {
  position: absolute;
  inset: 0px;
  border: 2px solid #bd9f67;
  opacity: 0;
  transform: rotate(10deg);
  transition: all 0.5s ease-in-out;
}

.bottom-text {
  position: absolute;
  left: 50%;
  bottom: 13px;
  transform: translateX(-50%);
  font-size: 6px;
  text-transform: uppercase;
  padding: 0px 5px 0px 8px;
  color: #bd9f67;
  background: #243137;
  opacity: 0;
  letter-spacing: 7px;
  transition: all 0.5s ease-in-out;
}

.content {
  transition: all 0.5s ease-in-out;
}

.project-card:hover {
  border-radius: 0;
  transform: scale(1.1);
}

.project-card:hover .border {
  inset: 15px;
  opacity: 1;
  transform: rotate(0);
}

.project-card:hover .bottom-text {
  letter-spacing: 3px;
  opacity: 1;
  transform: translateX(-50%);
}

.card1 {
  position: relative;
  /* width: 350px; */
  width: 90vw;
  height: 180px;
  max-width: 600px;
  box-sizing: border-box;
  background-color: black;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 3px 13px;
  transition: all ease-in-out 0.8s;
  overflow: hidden;
}

.card1:hover {
  border: 2px solid #bd9f67;
}

.card-title {
  margin: 0;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #fff;
  cursor: default;
}

.card-des {
  margin: 0;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #fff;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  word-break: break-all;
  /* good thing___---------- */
  -webkit-line-clamp: 3;
  line-clamp: 3;
  cursor: default;
}

.card-text {
  position: absolute;
  margin: 0;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: #fff;
  right: 20px;
  bottom: 5px;
  display: flex;
  align-items: center;
  gap: 3px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  animation: textanimate 0.8s alternate infinite;
  cursor: pointer;
}

.card1:hover > .card-text {
  opacity: 1;
}

@keyframes textanimate {
  0% {
    right: 20px;
  }

  100% {
    right: 10px;
  }
}

.arrow-icon {
  font-size: 15px;
  font-weight: 500;
}
/* .project-card-icons{   transition: all linear 3s ease-in-out;
  transform: scale(0);   }
.project-card:hover + .project-card-icons{transform: scale(1.1);} */

#commentInput:focus ~ #commentButton {
  display: block;
}

#commentButton {
  display: none;
}
