
/* 
.login-Box{  gap: 100px;  height: 100%;  } */

/* .login-left-section{
height: 100%;
} */
/* .login-left-section h1{font-size: 8vw; font-weight: 700;} */


/* .login-right-section{
    padding: 25px;
}    */