* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* @tailwind base;
@tailwind components;
  * /

  /* html{font-size: 62.5%;} */

/* @tailwind utilities;  */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.flexC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.element-Wrapper {
  margin: 0 auto;
  width: 98vw;
  max-width: 1300px;
  min-height: 100vh;
  /* background-color: orangered; */
  padding: 0 25px;
  /* padding-top: 130px ;
  padding-top: 4vh ;  */
}
.paraText {
  font-size: 1.2rem;
  padding: 0.8rem;
}

.input {
  font-weight: 500;
  font-size: 17px;
  padding: 10px 14px;
  border-radius: 12px;
  margin: 5px 0;
  outline: none;
  border: 1px solid grey;
  background-color: transparent;
  width: 90vw;
}
/* input:not([type="checkbox"]){ width: 300px;margin: 8px 0; }
   */
.normal-link {
  text-decoration: none;
  color: inherit;
}

.primary-heading {
  font-size: 8vw;
  font-weight: 700;
}

.box-wrapper {
  /* gap: 100px;  */
  width: 100vw;
}

.secondary-heading {
  font-size: 3vw;
  font-weight: 500;
}

.padding {
  padding: 0.5rem;
}
